<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snxy.contract.dao.mapper.ContractFieldMapper">
  <resultMap id="BaseResultMap" type="com.snxy.contract.domain.ContractMetaData">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="is_common" jdbcType="INTEGER" property="isCommon" />
    <result column="allow_null" jdbcType="INTEGER" property="allowNull" />
    <result column="data_type" jdbcType="INTEGER" property="dataType" />
    <result column="check_regex" jdbcType="VARCHAR" property="checkRegex" />
    <result column="css_name" jdbcType="VARCHAR" property="cssName" />
    <result column="width" jdbcType="INTEGER" property="width" />
    <result column="height" jdbcType="INTEGER" property="height" />
    <result column="show_order" jdbcType="SMALLINT" property="showOrder" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="category_order" jdbcType="SMALLINT" property="categoryOrder" />
    <result column="control_type" jdbcType="INTEGER" property="controlType" />
    <result column="dict" jdbcType="VARCHAR" property="dict" />
    <result column="default_value" jdbcType="VARCHAR" property="defaultValue" />
    <result column="template_id" jdbcType="TINYINT" property="templateId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, name, is_common, allow_null, data_type, check_regex, css_name, width, height, 
    show_order, category, category_order, control_type, dict, default_value, template_id, 
    gmt_create, gmt_modified, creator_id, modifier_id, is_delete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from contract_field
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from contract_field
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.snxy.contract.domain.ContractMetaData">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into contract_field (code, name, is_common, 
      allow_null, data_type, check_regex, 
      css_name, width, height, 
      show_order, category, category_order, 
      control_type, dict, default_value, 
      template_id, gmt_create, gmt_modified, 
      creator_id, modifier_id, is_delete
      )
    values (#{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{isCommon,jdbcType=INTEGER}, 
      #{allowNull,jdbcType=INTEGER}, #{dataType,jdbcType=INTEGER}, #{checkRegex,jdbcType=VARCHAR}, 
      #{cssName,jdbcType=VARCHAR}, #{width,jdbcType=INTEGER}, #{height,jdbcType=INTEGER}, 
      #{showOrder,jdbcType=SMALLINT}, #{category,jdbcType=VARCHAR}, #{categoryOrder,jdbcType=SMALLINT}, 
      #{controlType,jdbcType=INTEGER}, #{dict,jdbcType=VARCHAR}, #{defaultValue,jdbcType=VARCHAR}, 
      #{templateId,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{creatorId,jdbcType=BIGINT}, #{modifierId,jdbcType=BIGINT}, #{isDelete,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.snxy.contract.domain.ContractMetaData">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into contract_field
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="isCommon != null">
        is_common,
      </if>
      <if test="allowNull != null">
        allow_null,
      </if>
      <if test="dataType != null">
        data_type,
      </if>
      <if test="checkRegex != null">
        check_regex,
      </if>
      <if test="cssName != null">
        css_name,
      </if>
      <if test="width != null">
        width,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="showOrder != null">
        show_order,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="categoryOrder != null">
        category_order,
      </if>
      <if test="controlType != null">
        control_type,
      </if>
      <if test="dict != null">
        dict,
      </if>
      <if test="defaultValue != null">
        default_value,
      </if>
      <if test="templateId != null">
        template_id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="modifierId != null">
        modifier_id,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="isCommon != null">
        #{isCommon,jdbcType=INTEGER},
      </if>
      <if test="allowNull != null">
        #{allowNull,jdbcType=INTEGER},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=INTEGER},
      </if>
      <if test="checkRegex != null">
        #{checkRegex,jdbcType=VARCHAR},
      </if>
      <if test="cssName != null">
        #{cssName,jdbcType=VARCHAR},
      </if>
      <if test="width != null">
        #{width,jdbcType=INTEGER},
      </if>
      <if test="height != null">
        #{height,jdbcType=INTEGER},
      </if>
      <if test="showOrder != null">
        #{showOrder,jdbcType=SMALLINT},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="categoryOrder != null">
        #{categoryOrder,jdbcType=SMALLINT},
      </if>
      <if test="controlType != null">
        #{controlType,jdbcType=INTEGER},
      </if>
      <if test="dict != null">
        #{dict,jdbcType=VARCHAR},
      </if>
      <if test="defaultValue != null">
        #{defaultValue,jdbcType=VARCHAR},
      </if>
      <if test="templateId != null">
        #{templateId,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="modifierId != null">
        #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.snxy.contract.domain.ContractMetaData">
    update contract_field
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="isCommon != null">
        is_common = #{isCommon,jdbcType=INTEGER},
      </if>
      <if test="allowNull != null">
        allow_null = #{allowNull,jdbcType=INTEGER},
      </if>
      <if test="dataType != null">
        data_type = #{dataType,jdbcType=INTEGER},
      </if>
      <if test="checkRegex != null">
        check_regex = #{checkRegex,jdbcType=VARCHAR},
      </if>
      <if test="cssName != null">
        css_name = #{cssName,jdbcType=VARCHAR},
      </if>
      <if test="width != null">
        width = #{width,jdbcType=INTEGER},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="showOrder != null">
        show_order = #{showOrder,jdbcType=SMALLINT},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="categoryOrder != null">
        category_order = #{categoryOrder,jdbcType=SMALLINT},
      </if>
      <if test="controlType != null">
        control_type = #{controlType,jdbcType=INTEGER},
      </if>
      <if test="dict != null">
        dict = #{dict,jdbcType=VARCHAR},
      </if>
      <if test="defaultValue != null">
        default_value = #{defaultValue,jdbcType=VARCHAR},
      </if>
      <if test="templateId != null">
        template_id = #{templateId,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.snxy.contract.domain.ContractMetaData">
    update contract_field
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      is_common = #{isCommon,jdbcType=INTEGER},
      allow_null = #{allowNull,jdbcType=INTEGER},
      data_type = #{dataType,jdbcType=INTEGER},
      check_regex = #{checkRegex,jdbcType=VARCHAR},
      css_name = #{cssName,jdbcType=VARCHAR},
      width = #{width,jdbcType=INTEGER},
      height = #{height,jdbcType=INTEGER},
      show_order = #{showOrder,jdbcType=SMALLINT},
      category = #{category,jdbcType=VARCHAR},
      category_order = #{categoryOrder,jdbcType=SMALLINT},
      control_type = #{controlType,jdbcType=INTEGER},
      dict = #{dict,jdbcType=VARCHAR},
      default_value = #{defaultValue,jdbcType=VARCHAR},
      template_id = #{templateId,jdbcType=BIGINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      creator_id = #{creatorId,jdbcType=BIGINT},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      is_delete = #{isDelete,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getContractMetaDataByTemplateId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from contract_field
    where template_id = #{templateCategoryId,jdbcType=SMALLINT} and is_delete=0
  </select>

</mapper>